@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&family=Roboto:wght@100;300;400;700&display=swap');

.dark-theme {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 100%), url(../img/bg-site.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.teste {
    height: 380px;
    overflow: hidden;
    
}

.titulo-style {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 3rem;
    padding: 0;
    padding-top: 1.5rem;
}

.container-bg-style {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) 50%);

}

.carousel-style {
    margin-top: 1rem;
    height: 366px;
    overflow-y: hidden;
}
.img-wid {
    display: flex;
    margin: auto;
    max-width: 800px;
}

.valor {
    color: #0d6efd;
    font-weight: 800;
    font-size: 1rem;
}

.btn-ver-mais {
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    transition: .3s;
    margin-top: 1rem;
}

.btn-ver-mais:hover {
    transform: scale(1.025);
}

.card-text-style {
    font-size: 0.8rem;
}

.container-style {
    display: grid;
    grid-template-columns: 286px 286px 286px 286px;
    gap: 30px;
    max-width: 1234px;
    margin: 0 auto;
    margin-top: 4rem;
}
.carrousel-espaco{
 margin-top: 3rem;
    padding: 0;
    padding-top: 1.5rem;
}

